{% for cv in cvs %}
<div class="col-xl-4 col-lg-4 col-md-6">
    <div class="video-item-card">
        <div class="video-thumb">
            <video class="viewtube-player" preload="none" playsinline controls
                data-poster="{{ vich_uploader_asset(cv, 'imageFile')  }}">
                <source src="{{ vich_uploader_asset(cv, 'videoFile')  }}" type="video/mp4" />
            </video>
        </div>
        <div class="video-content">
            <div class="d-flex">
                <a href="{{ path('account', {'id': cv.user.id}) }}" class="avatar">
                    {% if cv.user.avatar != '' %}
                    <img src="{{ vich_uploader_asset(cv.user, 'avatarFile')  }}" alt="{{cv.user.username}}">
                    {% else %}
                    <img src="{{ asset('assets/images/nopic.png')  }}" alt="{{cv.user.username}}">
                    {% endif %}
                </a>
                <div class="my-auto">
                    <a href="{{ path('post_show', { 'id' : cv.id}) }}">
                        <h5>{{ cv.title }}</h5>
                    </a>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="author" href="{{ path('account', {'id': cv.user.id}) }}">
                                {{cv.user.username}}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path('post_like', {'id': cv.id}) }}" title="Like" class="like-button js-like"
                                data-id="57">
                                {% if app.user and cv.isLikedByUser(app.user) %}
                                <i class="fas fa-thumbs-up blueIcon"></i>
                                {% else %}
                                <i style="color:#909090;" class="fas fa-thumbs-up"></i>
                                {% endif %}
                                <span style="color:#909090;" class="js-likes">{{ cv.likes | length }}</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <div class="d-flex video-meta-bottom">
                                103 Vues <i class="fas fa-circle ml-2 mr-2"></i>
                                {{ cv.createdAt | date('d/m/y') }} </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<p class="mx-auto mt-5">Aucune vidéo pour le moment</p>
{% endfor %}