{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<style>
    .breadcrumbs {
        background-image: url('./uploads/couvertures/{{ user.cover }}') !important;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
        padding: 90px 0;
        margin-top: 30px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }

    .postImage {
        border-radius: 15px;
        background-color: #000;
        background-position: center !important;
        background-size: cover;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .modal-body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .avatar {
        border-radius: 50%;
    }
</style>

<section class="breadcrumbs">
    <div class="container">
        <h1>{{ user.username }}</h1>
        <ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li class="trail-item trail-begin"><a href="{{ path('home') }}"><span itemprop="name">Accueil</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li class="trail-item trail-end"><span itemprop="item"><span itemprop="name">Mon compte</span></span>
                <meta itemprop="position" content="3">
            </li>
        </ul>
    </div>
</section>
<section class="section-padding bg-gray">
    <div class="row justify-content-center">

        <div class="col-xl-8 col-md-7">
            <!-- Biographie -->
            <div class="blog-item">
                <div class="blog-content">
                    <h4>Biographie</h4>
                    <div class="blog-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#">
                                    {% if user.avatar != '' %}
                                    <img src="{{ vich_uploader_asset(user, 'avatarFile')  }}" alt="{{user.username}}">
                                    {% else %}
                                    <img src="{{ asset('assets/images/nopic.png')  }}" alt="{{user.username}}">
                                    {% endif %}
                                </a>
                                <span> {{user.username}}</span>
                            </li>
                            <li class="list-inline-item">
                                <span>
                                    <i class="fas fa-users"></i> <a data-toggle="modal" data-target="#exampleModalLong"
                                        href="#">
                                        {% if user.followers | length > 1 %}
                                        <span class="countFollow">{{ user.followers | length}}</span>&nbsp;Abonnés</a>
                                    {% else %}
                                    <span class="countFollow">{{ user.followers | length}}</span>&nbsp;Abonné</a>
                                    {% endif %}
                                </span>
                            </li>
                        </ul>
                    </div>
                    {{user.biography}}
                </div>
            </div>

            <!-- Modal abonnés -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content blog-item">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Les abonnés de {{user.username}}
                            </h5>
                            <button style="background: unset !important;" type="button" class="close"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for follower in user.followers %}
                            <a href="{{ path('account', {'id': follower.id}) }}">
                                {% if follower.avatar != '' %}
                                <img class="avatar" src="{{ vich_uploader_asset(follower, 'avatarFile')  }}"
                                    alt="{{follower.username}}">
                                {% else %}
                                <img class="avatar" src="{{ asset('assets/images/nopic.png')  }}"
                                    alt="{{follower.username}}">
                                {% endif %}
                                @ {{ follower.username }}
                            </a>
                            {% else %}
                            Aucun abonné pour le moment
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Emplois likés -->
            {% if emplois | length > 0 %}
            <div class="row mb-4">
                <div class="col-md-6 my-auto">
                    <h1>Emplois likés</h1>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="text-right">
                        <a class="viewtube-btn bordered no" href="emploi">
                            Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="row justify-content-center video-items"
                    data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
                    {{ include('emploi/emploi.html.twig') }}
                </div>
            </div>
            {% endif %}

            <!-- Formations likés -->
            {% if formations | length > 0 %}
            <div class="row mb-4">
                <div class="col-md-6 my-auto">
                    <h1>Formations likés</h1>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="text-right">
                        <a class="viewtube-btn bordered no" href="formation">
                            Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="row justify-content-center video-items"
                    data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
                    {{ include('formation/formation.html.twig') }}
                </div>
            </div>
            {% endif %}

            <!-- CV likés -->
            {% if cvs | length > 0 %}
            <div class="row mb-4">
                <div class="col-md-6 my-auto">
                    <h1>CV likés</h1>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="text-right">
                        <a class="viewtube-btn bordered no" href="cv">
                            Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="row justify-content-center video-items"
                    data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
                    {{ include('cv/cv.html.twig') }}
                </div>
            </div>
            {% endif %}

            <!-- Entreprises likés -->
            {% if entreprises | length > 0 %}
            <div class="row mb-4">
                <div class="col-md-6 my-auto">
                    <h1>Entreprises likés</h1>
                </div>
                <div class="col-md-6 my-auto">
                    <div class="text-right">
                        <a class="viewtube-btn bordered no" href="entreprise">
                            Voir plus</a>
                    </div>
                </div>
            </div>
            <div class="blog-item">
                <div class="row justify-content-center video-items"
                    data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
                    {{ include('entreprise/entreprise.html.twig') }}
                </div>
            </div>
            {% endif %}

        </div>

        <div class="col-xl-4 col-md-5">
            <aside id="secondary" class="widget-area">

                <!-- Paramètres -->
                <div id="categories-2" class="widget widget_categories">
                    {% if user.id == app.user.id %}
                    <h4 class="widget-title">Navigation</h4>
                    <ul>
                        <li><a href="{{ path('notifications') }}">Notifications</a>
                        </li>
                        <li><a href="{{ path('messaging') }}">Messagerie</a>
                        </li>
                        <li><a href="{{ path('account_edit', {'id': user.id}) }}">Paramètres</a>
                        </li>
                        <li><a href="{{ path('account_password', {'id': user.id}) }}">Mot de passe</a>
                        </li>
                    </ul>
                    {% else %}
                    <h4 class="widget-title">À propos</h4>
                    <ul>
                        <!-- <li><a class="js-follow" href="{{ path('followtest', {'id': user.id}) }}">
                                {% if user.followers.contains(app.user) == false %}
                                <span style="color: red;" class="follow">Suivre cette personne</span>
                                {% else %}
                                <span style="color: red;" class="follow">Ne plus suivre cette personne</span>
                                {% endif %}
                            </a>
                        </li> -->
                        {% if user.followers.contains(app.user) == false %}
                        <li><a href="{{ path('follow', {'id': user.id}) }}">Suivre cette personne</a>
                        </li>
                        {% else %}
                        <li><a href="{{ path('unfollow', {'id': user.id}) }}">Ne plus suivre cette personne</a>
                        </li>
                        {% endif %}
                        <li><a href="{{ path('messaging_profile', {'id': user.id}) }}">Envoyer un message</a>
                        </li>
                        <li><a href="#">Signaler le profil</a>
                        </li>
                    </ul>
                    {% endif %}
                </div>

                <!-- Dernières publications -->
                <div id="viewtube_recent_posts-2" class="widget widget_viewtube_recent_posts">
                    {% if posts | length > 1 %}
                    <h4 class="widget-title">Dernières publications</h4>
                    {% else %}
                    <h4 class="widget-title">Dernière publication</h4>
                    {% endif %}
                    <ul class="sidebar-recent-post">
                        {{ include('account/post.html.twig') }}
                    </ul>
                </div>

            </aside>
        </div>

    </div>
</section>
{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/follow.js') }}"></script>
{% endblock %}