{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
<style>
    .breadcrumbs {
        background-image: url('./uploads/couvertures/{{ user.cover }}') !important;
        border-radius: 15px;
        text-align: center;
        overflow: hidden;
        padding: 90px 0;
        margin-top: 30px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
</style>

<section class="breadcrumbs">
    <div class="container">
        <h1>{{ user.username }}</h1>
        <ul class="trail-items" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            <li class="trail-item trail-begin"><a href="{{ path('account', {'id': app.user.id}) }}"><span
                        itemprop="name">Mon compte</span></a>
                <meta itemprop="position" content="1">
            </li>
            <li class="trail-item trail-end"><span itemprop="item"><span itemprop="name">Mot de passe</span></span>
                <meta itemprop="position" content="3">
            </li>
        </ul>
    </div>
</section>

{{ form_start(form, { attr: {id: 'video-uploader'}}) }}
<div class="text-center mb-5">
    <h1 class="font-weight-bold">
        Modifier le mot de passe
    </h1>
</div>
{{ form_row(form.password) }}
<button type="submit" class="btn">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}