{% extends 'base.html.twig' %}
{% block title %}Messagerie{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
    <div class="content-wrapper">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="blog-item m-0">
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Rechercher">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {# a remplacer par l'input sur cette page #}
                                <a href="{{ path('messaging_new') }}" class="text-center">Nouvelle conversation</a>
                                {{ include('messaging/_components/userList.html.twig')}}
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                            <span class="name">
                            {#  {{ messaging.author }}, &nbsp;
                                  {% for participant in messaging.participants %}
                                    {{ participant.username }}, &nbsp;
                                {% endfor %}  #}
                            </span>
                            </div>
                            <div class="chat-container">
{#    {{ include('messaging/messages.html.twig')}}
                                <div class="form-group mt-3 mb-0">
                                    {{ form_start(form) }}
                                    {{ form_row(form.content, {attr: {class: "form-control", rows:"3"}}) }}
                                    <button>Envoyer</button>
                                    {{ form_end(form) }}#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
    $(document).ready(function() {
        $.ajax({
            url: '{{ path('chat_list_by_user', {'id': app.user.id}) }}',
            type: 'GET',
             success: function (data) {
                $.map(data['messaging'], function (messaging) {
                    $.map(messaging['messages'], function (message) {
               //         console.log(message)
                    })
                    $.map(messaging['contributors'], function (contributor) {
                         console.log(contributor)
                        if (contributor.avatar) {

                             let html_img = '<img src="contributor_avatar" alt="contributor_avatar" />'
                             $('#user').html(html_img.replace('contributor_avatar', '/uploads/avatars/' + contributor.avatar))
                        } else {
                             $('#user').html('<img src="{{ asset('assets/images/nopic.png')  }}" alt="" />')
                        }
                     })
                    $.map(messaging['author'], function (author) {
                     //   console.log(author)
                    })
                })
             }
        })
    })
</script>
{% endblock %}