{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">

<!-- Content wrapper start -->
<div class="content-wrapper">

    <!-- Row start -->
    <div class="row gutters">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="blog-item m-0">

                <!-- Row start -->
                <div class="row no-gutters">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                        <div class="users-container">
                            <div class="chat-search-box">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Rechercher">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-info">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {{ include('messaging/conversations.html.twig')}}
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                        <div class="selected-user">
                            <span class="name">
                                {{ messaging.author }}, &nbsp;
                                {% for participant in messaging.participants %}
                                {{ participant.username }}, &nbsp;
                                {% endfor %}
                            </span>
                        </div>
                        <div class="chat-container">
                            {{ include('messaging/messages.html.twig')}}
                            <div class="form-group mt-3 mb-0">
                                {{ form_start(form, {attr: {class: "newMessage"}}) }}
                                {{ form_row(form.content, {attr: {class: "form-control", rows:"3"}}) }}
                                <button class="eventpusher">Envoyer</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row end -->
            </div>

        </div>

    </div>
    <!-- Row end -->

</div>

{% endblock %}

{% block javascript %}
<script>
    $(".newMessage").submit(function (e) {
        e.preventDefault();
        var url = "{{ path('messaging_show', {'id': messaging.id}) }}";
        var formSerialize = $(this).serialize();
        $('.newMessage').trigger("reset");

        $.post(url, formSerialize, function (response) {
            console.log(response);
        }, 'JSON');
    });
</script>

<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script type="text/javascript">

    Pusher.logToConsole = true;

    var pusher = new Pusher('ba75523bee28d7c644f2', {
        cluster: 'eu',
    });

    var channel = pusher.subscribe('my-channel-' + JSON.parse('{{ messaging.id | json_encode | raw }}'));

    channel.bind('my_event',
        function (data) {
            console.log(data);
            $('.lala').append('<li class = "chat-left"><div class="chat-avatar"><img src="/uploads/avatars/' + data['image'] + '"><div class="chat-name">' + data['user'] + '</div></div><div class="chat-text">' + data['content'] + '</div><div class="chat-hour">' + data['date'] + '<span class="fa fa-check-circle"></span></div>');
        });

    channel.bind('pusher:subscription_succeeded', function (members) {
        console.log('successfully subscribed!');
    });

    function ajaxCall(ajax_url, ajax_data) {
        $.ajax({
            type: "POST",
            url: ajax_url,
            dataType: "json",
            data: ajax_data,
            success: function (response) {
                console.log(response);
            },
            error: function (msg) { }
        });
    }
</script>
{% endblock %}