{% for comment in comments %}
<li class="comment even thread-even depth-1 parent" id="comment-6" itemscope="" itemtype="http://schema.org/Comment">
    <div class="row">
        <div class="col-md-2 col-xs-3 text-left text-md-center">
            <a href="{{ path('account', {'id': comment.author.id}) }}">
                {% if comment.author.avatar != '' %}
                <img class="rounded-circle" alt="images" src="{{ vich_uploader_asset(comment.author, 'avatarFile')  }}">
                {% else %}
                <img src="{{ asset('assets/images/nopic.png')  }}" alt="{{comment.author.username}}">
                {% endif %}
            </a>
        </div>
        <div class="col-md-10 col-xs-9">
            <div class="commenter">
                <a href="{{ path('account', {'id': comment.author.id}) }}">{{ comment.author.username }}</a> <span>{{
                    comment.createdAt | date('d/m/y')}}</span>
            </div>
            <p>{{ comment.content }}</p>
        </div>
    </div>
</li>
{% endfor %}